
<!doctype html>
<html>
<head>
    <title>Real-time Notifications</title>
    <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to the WebSocket server');
        });

        socket.on('notification', function(data) {
            // Handle the received notification data
            console.log('New Notification:', data);
            // Display the notification to the user (e.g., show a toast message)
        });
    </script>
</head>
<body>
    <button onclick="triggerNotification()">Trigger Notification</button>

    <script type="text/javascript">
        function triggerNotification() {
            // Send a request to the server to trigger a notification
            fetch('/trigger_notification')
                .then(response => response.text())
                .then(message => console.log(message))
                .catch(error => console.error(error));
        }
    </script>
</body>
</html>
